<% if flash[:errors] %>
<% flash[:errors].each do | error | %>
<li style="color: red"><%=error%> </li>
<% end %>
<% end %>

<%= simple_form_for([@article, @article.comments.build]) do |f| %>

    <% f.label :comment %>
    <%= f.text_area :comment , placeholder: "type" %>
    <%= f.button :submit , value =  'Leave a Comment' %>
<% end %>
