<div class="container" id="page-content">
    <h1 class="text-center mt-4">Sign up</h1>
    <% if @user.errors.any? %>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li> <%= msg %></li>
        <%end%>
        </ul>
    <%end%>
    <%= render 'form' %>
</div>