@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}
.nav-link {
    color: white !important;
}

#logo {
    color: white !important;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#home-page-container {
    margin-top: 25px;
}

.jumbotron {
    // background-color: #fff;
    // background-image: asset-url('gaming.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  margin-top: 25px;
}

#article-card {
  margin-top: 15px;
}